[Unit]
Description=Moon - Dynamic Headless Engine
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/moon -d
Restart=always

[Install]
WantedBy=multi-user.target

